<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Error</title>
</head>
<body>
<h2>Oops something went wrong</h2>
<p th:text="${exception}"/>

<a href="/">Main page</a>
</body>
</html>