<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        table, th, td {
            border: 1px solid black;
            border-collapse: collapse;
        }
    </style>
    <meta charset="UTF-8">
    <title>Events</title>
</head>
<body>
<h2>Events</h2>

<table>
    <tbody>
    <tr th:each="e: ${events}">
        <td th:text="${e.id}"/>
        <td th:text="${e.title}"/>
        <td th:text="${e.date}"/>
    </tr>
    </tbody>
</table>

<a href="/">Main page</a>
</body>
</html>